.pager {
  display: flex;
  width:100%;
  justify-content: space-evenly;
  padding: 0 10vh;
}
.pager p {
  width:20%;
  background:#aaa;
  border:1px solid #333;
  border-radius: 3px;
}
.pager button {
  width: 20%;
  padding-bottom: 0.2rem;
}
.blogCards {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: 0 auto 3%;
  list-style: none;
  position: relative;
  padding: 0 0 0.5rem 0;
}
section.blogCard {
  width: 11vw;
  height: 11vw;
  display: inline-block;
  background-size: auto 150%;
  background-position: bottom;
  background-repeat: no-repeat;
  transition: background-size 0.1s linear;
  margin: 3vh 7vh;
  box-shadow: 2px 2px 3px black;
  border-radius: 0.1em;
}
section.blogCard:hover {
  background-size: auto 160%;
}

li.blogPost {
  opacity: 0;
  display: flex;
  height: auto;
  flex-direction: column;
  color: bisque;
  justify-content: center;
  width: 11vw;
  height: 11vw;
  background: #6666663b;
  border-radius: 3px;
}
.blogPost:hover {
  transition: opacity 0.2s linear;
  opacity: 1;
}
.blogPostText {
  font-size: 0.8em;
  padding: 0 1vw;
  text-shadow: 1px 1px 1px black;
  background: #00000080;
  color: #fff;
}
a.blogPostTitle {
  display: inline-block;
  font-size: 1.4em;
  width: 100%;
  background: #fff;
  color: black;
  padding: 0 5px;
  transition: color 0.2s linear;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px maroon;
}

@media screen and (max-width: 767px) {
  section.blogCard {
    display: block;
      width:33vh;
      height:33vh;
  }
  li.blogPost {
    opacity: 1;
    background: none;
    width: 100%;
    height: 100%;
  }
  a.blogPostTitle {
    background: #fff;
    color: black;
  }
}
/* section.blogCard:hover {
  background-size: 110%;
} */
