form.addForm {
  color: #ddd;
  text-align: center;
  width: 100vw;
  max-width: 500px;
  margin: 0 auto;
  padding: 1vh 2vh;
  background: rgba(102, 102, 102, 0.5);
  border-radius: 3px;
}
form.addForm input,
form.addForm button,
form.addForm textarea {
  width: 100%;
  padding: 0.5vh;
  margin-bottom: 0.5;
  box-sizing: border-box;
  font-size: 0.8rem;
  border: 1px solid #666;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  border-radius: 3px;
}
form.addForm p {
  font-size: 1rem;
}
