p {
  text-shadow: 1px 1px 2px #000000b6;
  text-indent: 1em;
  text-align: justify;
  text-justify: auto;
  font-size: 1.5em;
  margin: 0 auto;
  padding: 0.5em 1em 0.7em;
  color: #c7c7c7;
  width: 50%;
  font-family: 'VT323', sans-serif;
  border-radius: 3px;
  text-shadow: 1px 1px 5px #009c0a;
}

img {
  box-shadow: -2px 2px 27px -7px #c7c7c7;
  width: 260px;
  height: 260px;
  padding: 0;
  margin: 1.67em 0 0;
  border-radius: 50%;
}

@media only screen and (max-width: 1020px) {

  p {
    font-size: 1.9em;
    line-height: 1.3em;
    width: 90%;
    padding-right: 2px;
    padding-left: 3px;
  }
  img {
    box-shadow: 1px 1px 3px 0 #181818;
    width: 200px;
    height: 200px;
    padding: 0;
    margin: 1.67em 0 1em;
    border-radius: 50%;
  }
}