.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  list-style: none;
  position:relative;
}

.navbar-area {
  background: rgb(4, 4, 5);
  box-shadow: 0px 0px 26px -1px #111;
}

.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a.site-logo {
  font-size: 48px;
  text-transform: uppercase;
  text-decoration: none;
  color: #dbbb2d00;
  margin-left:10px;
  font-family: 'Dokdo', sans-serif;
  text-shadow: 0 0 4px wheat;
  transition: text-shadow 0.13s linear;
}

.site-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.site-navbar ul li{
  padding: 0 5px;
  perspective: 600px;
}
.site-navbar ul li a {
  font-size: 28px;
  transition: all 0.13s linear,  text-shadow 0.13s linear;
  padding: 14px 13px;
  display: block;
  text-decoration: none;
  background: #20202000;
  text-transform: uppercase;
  color: #b3920000;
  border-radius: 5px;
  box-shadow: 0px 0px 0 -5px #aaa;
  text-shadow: 0 0 3px #ffffe0;
}

.site-navbar ul li a:hover {
  transition: all 0.13s linear, text-shadow 0.13s linear;
  background-image:linear-gradient(to bottom, black 10%, #0c1314 100%) ;
  color: #ffd90000;
  transform: rotateX(29deg);
  box-shadow: 0px 9px 24px -10px #aaa;
  text-shadow: 0 0 2px #ffffffd5;
  transform-origin: top center;
}
a.site-logo:hover {
  cursor: pointer;
}
.site-navbar ul li a.active {
  transform: rotateX(29deg);
  box-shadow: 0px 9px 24px -10px #aaa;
  text-shadow: 0 0 2px #ffffffd5;
}
.nav-toggler {
  border: 3px solid #d6b212;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  margin-right:10px;
  display: none;
}

.nav-toggler div,
.nav-toggler div:before,
.nav-toggler div:after {
  width: 28px;
  height: 3px;
  background-color:#d6b212;
  display: block;
  transition: 0.3s;
}

.nav-toggler div:before {
  content: "";
  transform: translateY(-9px);
}

.nav-toggler div:after {
  content: "";
  transform: translateY(6px);
}

.nav-toggler.toggler-open div {
  background-color: transparent;
}

.nav-toggler.toggler-open div:before {
  transform: translateY(0px) rotate(45deg);
}

.nav-toggler.toggler-open div:after {
  transform: translateY(-3px) rotate(-45deg);
}

/* mobile breakpoint start */
@media screen and (max-width: 767px) {
  .container {
    max-width: 720px;
  }
  span#lmb {
    display: none;
  }
  /* navbar css for mobile start */
  .nav-toggler {
    display: block;
    width: auto;
    filter: blur(1px);
  }

  .site-navbar {
    min-height: 60px;
  }

  .site-navbar ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    left: 0;
    top: 60px;
    flex-direction: column;
    align-items: center;
    background-color: rgba(10, 5, 7, 0.9);
    max-height: 0;
    overflow: hidden;
    transition: 0.2s;
  }

  .site-navbar ul li {
    width: 100%;
    text-align: center;
  }

  .site-navbar ul li a {
    padding: 17px 25px;
    font-size: 28px;
  }

  .site-navbar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .site-navbar ul.open {
    z-index: 1;
    max-height: 100vh;
    overflow: hidden;
  }
  .navbar-area {
    background: rgb(33,30,40);
    /* border-bottom: 1px solid #000; */
    mix-blend-mode: normal;
  }
  /* navbar css for mobile end */
}

/* mobile breakpoint end */