.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  list-style: none;
  position: relative;
}

.navbar-area {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 26px -1px #111;
}

.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a.site-logo {
  font-size: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #a19f95;
  margin-left: 10px;
  text-shadow: -3px -3px 5px #325786;
  transition: text-shadow 0.13s linear;
}

.site-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.site-navbar ul li {
  padding: 0 5px;
  perspective: 600px;
}
.site-navbar ul li a {
  font-size: 28px;
  transition: all 0.13s linear, text-shadow 0.13s linear;
  padding: 14px 13px;
  display: block;
  text-decoration: none;
  background: #20202000;
  text-transform: uppercase;
  color: #7d1616;
  border-radius: 5px;
  box-shadow: 0px 0px 0 -5px #aaa;
  text-shadow: -2px -2px 6px #911d00;
}

.site-navbar ul li a:hover {
  transition: all 0.13s linear, text-shadow 0.13s linear;
  box-shadow: 0px 0px 22px -5px #ff0f0f;
  text-shadow: -2px -2px 6px #911d00;
  transform-origin: top center;
  color: #c01d1d;
  background: #0b0e1cba;
}
a.site-logo:hover {
  cursor: pointer;
}
.site-navbar ul li a.active {
  transform: rotateX(29deg);
  box-shadow: 0px 9px 22px -8px #ff0f0f;
  text-shadow: -2px -2px 6px #911d00;
  color: #c01d1d;
}
.nav-toggler {
  border: 3px solid wheat;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  margin-right: 10px;
  display: none;
}

.nav-toggler div,
.nav-toggler div:before,
.nav-toggler div:after {
  width: 28px;
  height: 3px;
  background-color: wheat;
  display: block;
  transition: 0.3s;
}

.nav-toggler div:before {
  content: "";
  transform: translateY(-9px);
}

.nav-toggler div:after {
  content: "";
  transform: translateY(6px);
}

.nav-toggler.toggler-open div {
  background-color: transparent;
}

.nav-toggler.toggler-open div:before {
  transform: translateY(0px) rotate(45deg);
}

.nav-toggler.toggler-open div:after {
  transform: translateY(-3px) rotate(-45deg);
}

/* mobile breakpoint start */
@media screen and (max-width: 767px) {
  .container {
    max-width: 720px;
  }
  span#lmb {
    display: none;
  }
  /* navbar css for mobile start */
  .nav-toggler {
    display: block;
    width: auto;
    filter: blur(1px);
  }

  .site-navbar {
    min-height: 60px;
  }

  .site-navbar ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    left: 0;
    top: 60px;
    flex-direction: column;
    align-items: center;
    background-color: rgba(26, 22, 13, 0.1);
    max-height: 0;
    overflow: hidden;
    transition: 0.2s;
    backdrop-filter: blur(8px);
  }

  .site-navbar ul li {
    width: 100%;
    text-align: center;
  }

  .site-navbar ul li a {
    padding: 17px 25px;
    font-size: 28px;
    box-shadow: none;
    background: #0e172978;
  }

  .site-navbar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: rotateX(0deg);
    text-shadow: -2px -2px 6px #911d00;
    color: #c01d1d;
    background: #4b0909;
    box-shadow: none;
  }

  .site-navbar ul li a.active {
    transform: rotateX(0deg);
    text-shadow: -2px -2px 6px #911d00;
    color: #c01d1d;
    background: #4b0909;
    box-shadow: none;
  }

  .site-navbar ul.open {
    z-index: 1;
    max-height: 100vh;
    overflow: hidden;
    background-color: rgba(26, 22, 13, 0.84);
  }
  .navbar-area {
    background: rgba(0, 0, 0, 0.5);
    /* border-bottom: 1px solid #000; */
    mix-blend-mode: normal;
  }
  /* navbar css for mobile end */
}

/* mobile breakpoint end */
