.socials {

  display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    height: 80vh;
    padding: 0;margin: 0;
}

.socials li {
  list-style: none;
  margin: 0;
  display: inline-block;
  position: relative;
  width: 120px;
  height: 120px;
}

.socials li a {
  position: relative;
  display: inline-block;
  color: #6e6e6e;
  font-size: 40px;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 120px;
  transition: all 0.2s ease-in-out;
  opacity: 0.33;
}

.socials li span {
  display: inline-block;
  position: absolute;
  background: #0f2b44;
  box-shadow: 0 0 4px 0 #083d6b;;
  transition: transform 0.2s;
}
.socials li:hover span {
  background: #216082;
  box-shadow: 0 0 4px 0 #538bbb;
}

.socials li span:nth-of-type(1),
.socials li span:nth-of-type(2) {
  width: 120px;
  height: 2px;
}

.socials li span:nth-of-type(3),
.socials li span:nth-of-type(4) {
  width: 4px;
  height: 120px;
}

.socials li span:nth-of-type(1) {
  top: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(1);
}

.socials li span:nth-of-type(2) {
  bottom: 0;
  left: 0;
  transform-origin: left;
  transform: scale(1);
}

.socials li span:nth-of-type(3) {
  top: 0;
  left: 0;
  transform-origin: bottom;
  transform: scale(0);
}

.socials li span:nth-of-type(4) {
  top: 0;
  right: 0;
  transform-origin: top;
  transform: scale(0);
}

/*************  On hover  *****************/
.socials li:hover span:nth-of-type(1) {
  transform-origin: left;
  transform: scaleX(0);
}

.socials li:hover span:nth-of-type(2) {
  transform-origin: right;
  transform: scale(0);
}

.socials li:hover span:nth-of-type(3) {
  transform-origin: top;
  transform: scale(1);
}

.socials li:hover span:nth-of-type(4) {
  top: 0;
  right: 0;
  transform-origin: bottom;
  transform: scale(1);
}

.socials p {
  color: #6e6e6e;
  transition: color 0.2s ease-in-out;
  font-family: "Barlow", sans-serif;
}
.socials li:hover p {
  display: block;
  color: #c7c7c7;
}
.socials li:hover a {
  transform: scale(1.167);
  background: transparent;
  background: radial-gradient(circle farthest-corner at center center, #5D87A34D 0, #0000 70%);
  opacity: 1;
}
@media screen and (max-width: 767px) {

  .socials {
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    height: 100vh;
    padding: 0;margin: 0;
  }
  .socials li {
    margin:20px;
  }
  
  .socials   li a {
    opacity: 1;
  } 
  .socials   li p {
    padding-top: 0%;
    display: block;
    color: #c7c7c7;
    font-size: 1.2em;
    line-height: 0em;
  } 

}
