<link rel="stylesheet" href="/components/pages/contact/style.css">
<link rel="stylesheet" href=" https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<h1 class="title">Feel free to send an <a href="mailto:07zglossie@wp.pl?subject=aboutCode"> e-mail</a></h1>

<ul class="socials">
  <li>
    <a href="https://www.facebook.com/profile.php?id=1795933173" target="_blank"> <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
    <span></span><span></span><span></span><span></span>
    <p>Facebook</p>
  </li>
  <li>
    <a href="https://www.youtube.com/channel/UCoG1KG8FrmCg_qKTASx1zlw" target="_blank"> <i class="fa fa-youtube" aria-hidden="true"></i>
    </a>
    <span></span><span></span><span></span><span></span>
    <p>YouTube</p>
  </li>
  <li>
    <a href="https://github.com/loleus" target="_blank"> <i class="fa fa-github" aria-hidden="true"></i> </a>
    <span></span><span></span><span></span><span></span>
    <p>GitHub</p>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/%C5%82ukasz-kami%C5%84ski-ba2159277/" target="_blank"> <i class="fa fa-linkedin"
        aria-hidden="true"></i> </a>
    <span></span><span></span><span></span><span></span>
    <p>LinkedIn</p>
  </li>
  <li>
    <a href="https://soundcloud.com/loleus" target="_blank"> <i class="fa fa-soundcloud aria-hidden=" true"></i> </a>
    <span></span><span></span><span></span><span></span>
    <p>Soundcloud</p>
  </li>
</ul>
