<link rel="stylesheet" href="/components/pages/contact/style.css">
<link rel="stylesheet" href=" https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<ul class="socials">
  <li style="--socialColor: #67ff08">
    <a href="mailto:07zglossie@wp.pl?subject=aboutCode" target="_blank"> <i class="fa fa-envelope" aria-hidden="true"></i>
    </a>
    <span></span><span></span><span></span><span></span>
    <p class="socialName">E-Mail</p>
  </li>
  <li style="--socialColor: #0866ff;" >
    <a href="https://www.facebook.com/profile.php?id=1795933173" target="_blank"> <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
    <span></span><span></span><span></span><span></span>
    <p class="socialName">Facebook</p>
  </li>
  <li style="--socialColor: #ff0000" >
    <a href="https://www.youtube.com/channel/UCoG1KG8FrmCg_qKTASx1zlw" target="_blank"> <i class="fa fa-youtube" aria-hidden="true"></i>
    </a>
    <span></span><span></span><span></span><span></span>
    <p class="socialName">YouTube</p>
  </li>
  <li style="--socialColor: #e6edf3"> 
    <a href="https://github.com/loleus" target="_blank"> <i class="fa fa-github" aria-hidden="true"></i> </a>
    <span></span><span></span><span></span><span></span>
    <p class="socialName">GitHub</p>
  </li>
  <li style="--socialColor:#0a66c2">
    <a href="https://www.linkedin.com/in/%C5%82ukasz-kami%C5%84ski-ba2159277/" target="_blank"> <i class="fa fa-linkedin"
        aria-hidden="true"></i> </a>
    <span></span><span></span><span></span><span></span>
    <p class="socialName">LinkedIn</p>
  </li>
  <li style="--socialColor:#ff5500">
    <a href="https://soundcloud.com/loleus" target="_blank"> <i class="fa fa-soundcloud" aria-hidden="true"></i> </a>
    <span></span><span></span><span></span><span></span>
    <p class="socialName">Soundcloud</p>
  </li>
</ul>
