* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(224, 224, 206);
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-size: 29px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@font-face {
  font-family: Barlow;
  src: url(../assets/fonts/Barlow/Barlow-Regular.ttf);
}
html {
  height: 100%;
}
body {
  background: rgb(42, 42, 43) url("../assets/bcg.jpg") center no-repeat;
  background-size: 100% cover;
}

@media only screen and (max-width: 1020px) {
  * {
    font-size: 26px;
  }
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
/* navbar regular css start */
.navbar-area {
  background: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid #000;
}
.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a.site-logo {
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}
.site-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.site-navbar ul li a {
  color: #fff;
  padding: 20px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
.site-navbar ul li a:hover {
  background: rgba(255, 255, 255, 0.1);
}
/* navbar regular css end */

/* nav-toggler css start */
.nav-toggler {
  border: 3px solid #fff;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
}
.nav-toggler div,
.nav-toggler div:before,
.nav-toggler div:after {
  width: 28px;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: 0.3s;
}
.nav-toggler div:before {
  content: "";
  transform: translateY(-9px);
}
.nav-toggler div:after {
  content: "";
  transform: translateY(6px);
}
.nav-toggler.toggler-open div {
  background-color: transparent;
}
.nav-toggler.toggler-open div:before {
  transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open div:after {
  transform: translateY(-3px) rotate(-45deg);
}
/* nav-toggler css start */

/* intro-area css start */
.intro-area {
  height: calc(100vh - 61px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  overflow: scroll;
}
/* intro-area css end */

/* mobile breakpoint start */
@media screen and (max-width: 767px) {
  .modal-comp {
    position: relative;
    display: flex;
    flex-flow: column;
    z-index: -1;
    justify-content: center;
    height: calc(100vh-39px);
    /* overflow-y: scroll; */
  }
  .container {
    max-width: 720px;
  }
  /* navbar css for mobile start */
  .nav-toggler {
    display: block;
  }
  .site-navbar {
    min-height: 60px;
  }
  .site-navbar ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    left: 0;
    top: 60px;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #444;
    background-color: rgba(0, 0, 0, 0.75);
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
  }
  .site-navbar ul li {
    width: 100%;
    text-align: center;
  }
  .site-navbar ul li a {
    padding: 25px;
  }
  .site-navbar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .site-navbar ul.open {
    max-height: 100vh;
    overflow: visible;
  }

  /* navbar css for mobile end */
}
/* mobile breakpoint end */

.form {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(calc(50vw - 50%), calc(42vh - 50%));
  color: #ddd;
  text-align: center;
  width: 100vw;
  max-width: 500px;
  margin: 0 auto;
  font-family: Tahoma, Geneva, sans-serif;
  padding: 1vh 2vh;
  background: rgba(102, 102, 102, 0.5);
  border-radius: 3px;
}
form.addForm {
  color: #ddd;
  text-align: center;
  width: 100vw;
  max-width: 500px;
  margin: 0 auto;
  font-family: Tahoma, Geneva, sans-serif;
  padding: 1vh 2vh;
  background: rgba(102, 102, 102, 0.5);
  border-radius: 3px;
}
label p {
  font-size: 1rem;
}
input,
select,
textarea,
form button {
  width: 100%;
  padding: .5vh;
  margin-bottom: .5;
  box-sizing: border-box;
  font-size: .8rem;
}

input[type="submit"] {
  background-color: #333;
  border: 1px solid #666;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 0;
}

form button {
  background-color: #333;
  border: 1px solid #666;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 0;
}
