span {
  display: flex;
  flex-flow: column;
  overflow: auto;
  justify-content: center;
  width: 100%;
}

table {
  margin: 15vh auto;
  font-size: 27px;
  transition: border-spacing 0.05s linear, margin 0.05s linear;
  background: rgba(3, 67, 86, 0.16);
  border-spacing: 0px;
  backdrop-filter: blur(2px);
  border-radius: 3px;
  box-shadow: 0 0 46px 0 #0f0a0a;
}

table:hover {
  margin: 10vh auto;
  font-size: 27px;
  border-spacing: 9px;
  border-radius: 1em;
}

table:hover th, table:hover td {
  background: rgb(35, 54, 75);
  border-radius: 1em;
}
th,
td {
  padding: 0 1.1vh;
  border-radius: 3px;
  pointer-events: none;
  font-size: 0.7em;
  line-height: 0.7em;
  color: #a5a5a5;
  transition: all 0.13s linear;
  text-shadow: 0 0 3px #a5a5a5;
  background: rgba(12, 20, 29, 0);
}

tr th {
  overflow: hidden;
  color: #a5a5a5;
  line-height: 2em;
  text-shadow: 0 0 3px #a5a5a5;
}

td a {
  pointer-events: auto;
  font-weight: bold;
  color: #748691;
  font-size: 1.1em;
  line-height: 1.2em;
  text-underline-position: under;
  text-decoration: none;
  transition: all 0.01s linear;
  text-transform: uppercase;
  padding: .5vh 0 1.1vh;
  display: block;
  text-shadow: -1px 2px 3px #000000;

}
table:hover td a {
  color: #62aac1;
}
table td:hover a {
  color: rgb(162, 207, 255);
}

h1.blogListTitle.title,
a.blogListTitle {
  font-size: 1.2em;
}
a.blogListTitle {
  color: #d6b212;

}

@media only screen and (max-width: 1020px) {
  th,
  td {
    font-size: 16px;
  }
  table {
    margin: 10vh auto;
    font-size: 27px;
    border-spacing: 9px;
    box-shadow: none;
  }
  table th, table td {
    background: rgb(35, 54, 75);
    border-radius: 3px;
  }
  table td a {
    color:#62aac1
;  }
}