/* host:span {
  display: flex;
  flex-flow: column;
  overflow: auto;
  justify-content: center;
  width: 100%;
  max-height: 100%;
} */

table {
  margin: 13vh auto;
  font-size: 1em;
  transition: border-spacing 0.12s linear, margin 0.12s linear, font-size 0.12s linear;
  background: rgba(3, 67, 86, 0.16);
  border-spacing: 0px;
  backdrop-filter: blur(2px);
  border-radius: 5px;
  box-shadow: 0 0 46px 0 #0f0a0a;
  padding: 1vh;
}

table:hover {
  margin: 11vh auto;
  border-spacing: 9px;
}

th,
td {
  padding: 1vh;
  border-radius: 3px;
  pointer-events: none;
  color: #a5a5a5;
  transition: all 0.13s linear;
  text-shadow: 0 0 3px #a5a5a5;
  background: rgb(35, 54, 75);
  background-position: center;
  background-size: auto;
}

td a {
  pointer-events: auto;
  font-weight: bold;
  color: #7ba3b0;
  line-height: 1.2em;
  text-underline-position: under;
  text-decoration: none;
  transition: all 0.01s linear;
  text-transform: uppercase;
  transition: all 0.13s linear;
  display: block;
  text-shadow: -1px 2px 3px #000000;
}

table:hover td a {
  color:#c6e2f1;
  font-size: 25px;
}
td:hover {
  background-blend-mode: color-dodge;
}
table td:hover a {
  color: rgb(162, 207, 255);
  background: transparent;
}

@media only screen and (max-width: 768px) {
  table {
    margin: 10vh auto;
    font-size: 28px;
    border-spacing: 9px;
    box-shadow: none;
  }

  table td {
    background: rgb(35, 54, 75);
    font-size: 14px;
    line-height: 1.7em;
    background-position: center;
    border-radius: 3px;
    background-blend-mode: difference;
  }

  table td a {
    color: #add6e3;
    font-size: 24px;
  }
}
