table {
  margin: 12vh auto 0;
  transition:
    border-spacing 0.17s linear,
    margin 0.17s linear,
    font-size 0.17s linear;
  background: rgba(3, 67, 86, 0);
  border-spacing: 0px;
  backdrop-filter: blur(2px);
  border-radius: 5px;
  font-size: 1.3em;
  font-family: "Barlow", sans-serif;
  tbody#repos {
    transform-style: preserve-3d;
    perspective: 800px;
    tr {
      transform-style: preserve-3d;
      perspective: 100px;
      transform: rotateY(0deg);
      &:nth-child(odd) {
        animation: rotate55 4.68s cubic-bezier(0.1, 0.085, 0.1, 1.375) infinite reverse;
        td {
          &:first-child {
            transform: rotateX(26deg);
          }
        }
      }
      &:nth-child(even) {
        animation: rotate55 4.68s cubic-bezier(0.1, 0.085, 0.1, 1.375) infinite;
        td {
          &:first-child {
            transform: rotateX(26deg);
          }
        }
      }
      td {
        font-size: 1em;
        border-radius: 3px;
        pointer-events: none;
        color: #849e9a;
        transition: transform 0.15s ease-out;
        text-shadow: 0 0 3px #a5a5a5;
        background-position: center;
        background-size: auto;
        background-blend-mode: none;
        overflow: hidden;
        height: 3vh;
        &:first-child {
          box-shadow: inset 0 0 8px 1px black, 0 5px 12px -7px black  ;
          border-radius: 5px;
        }
        &:nth-child(n + 2) {
          display: block;
          visibility: hidden;
          width: 0;
          font-size: 0.4em;
        }
        a {
          pointer-events: auto;
          font-weight: bold;
          color: #5a808c;
          line-height: 6vh;
          text-underline-position: under;
          text-decoration: none;
          text-transform: uppercase;
          transition: all 0.19s ease-out;
          display: block;
          text-shadow: -1px -1px 2px #000000;
          display: inline-block;
          width: 22vh;
          background: rgba(0, 0, 0, 0.5);
          font-size: 0h;
          font-family: "VT323", sans-serif;
          transform: translateX(-100%);
        }
      }
    }
  }

  &:hover {
    margin: 8vh auto 0;
    border-spacing: 9px;
    tbody#repos {
      transform-style: inherit;
      perspective: none;
      tr {
        transform-style: preserve-3d;
        perspective: 100px;
        transform: rotateY(0deg);
        animation: none;
        &:nth-child(odd) {
          td {
            &:first-child {
              transform: rotateX(36deg);
              
            }
          }
        }
        &:nth-child(even) {
          td {
            &:first-child {
              transform: rotateX(36deg);
            }
          }
        }
        td {
          &:first-child {
            background: rgb(35, 40, 61);
            background-position: center;
            background-size: auto;
            background-blend-mode: hard-light;
            box-shadow: 0px 3px 2px 0 black;
            color: #bed1d9;
            &:hover {
              background-blend-mode: screen;
              transform: rotateX(00deg);
              a {
                color: rgb(191, 215, 240);
                background: rgba(39, 64, 79, 0.295);
              }
            }
          }
          &:nth-child(n + 2) {
            visibility: visible;
            display: block;
            width: auto;
            margin-left: 14px;
            font-size: 0.5em;
          }
          svg {
            opacity: 1;
          }
          a {
            color: #8ebcca;
            font-size: 3.5vh;
            width: 22vh;
            border: none;
            background: transparent;
            transform: translateX(0%);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  table {
    margin: 15% auto 0;
    border-spacing: 9px;
    box-shadow: none;
    &:hover {
      tbody#repos {
        tr {
          animation: none;
          td {
            &:first-child {
              &:hover,
              &:active {
                background-blend-mode: normal;
                transform: rotateX(36deg);
              }
            }
          }
        }
      }
    }
    tbody#repos {
      transform-style: inherit;
      perspective: none;
      tr {
        transform: rotateY(0deg);
        animation: none;
        &:nth-child(odd) {
          animation: none;
          
          td {
              &:first-child {
              // transform: translateX(0vh) rotateX(26deg);
            }
          }
        }
        &:nth-child(even) {
          animation: none;
          td {
            &:first-child {
            // transform: translateX(0vh) rotateX(26deg);
          }
        }
        }
        td {
          &:first-child {
            background-position: center;
            border-radius: 3px;
            background-blend-mode: screen;
            transform: translateX(0vh);
            a {
              color: #8ebcca;
              font-size: 5vh;
              width:50vw;
              transform: translateX(0%);
            }
          }
          &:nth-child(n + 2) {
            display: block;
            width: 5vh;
            visibility: visible;
            margin-left: 14px;
            font-size: 0.7em;
            line-height: 1em;
          }
          &:nth-child(n + 3) {
            height: auto;
            svg {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

@keyframes rotate55 {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(55deg);
  }
  50% {
    transform: rotateY(0deg);
  }
  75% {
    transform: rotateY(-55deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
