span {
  display: flex;
  flex-flow: column;
  overflow: auto;
  justify-content: center;
  width: 100%;
  /* margin-bottom: 12vh; */
}

table {
  margin: 5vh auto;
  font-size: 27px;
  transition: all 0.16s linear;
  box-shadow: 0 0 8px 0 rgb(60, 48, 88);
  background: rgb(16, 31, 36);
  border-spacing: 0px;
}

table:hover {
  margin: 5vh auto;
  font-size: 27px;
  transition: border-spacing 0.16s linear;
  box-shadow: 0 0 8px -3px #aaa;
  background: rgba(212, 220, 223, 0.02);
  border-spacing: 9px;
  border-radius: 12px;
}

th,
td {
  padding: 0 1.1vh;
  border-radius: 3px;
  pointer-events: none;
  font-size: 0.7em;
  line-height: 0.7em;
  color: #a5a5a5;
  box-shadow: 0px 0px 3px 0px #20677c;
  transition: all 0.2s linear;
}

tr:nth-child(n + 1) td:first-child {
  background: rgba(17, 17, 17, 0.7);
}

table td:hover {
  box-shadow: 0px 0px 3px -1px #d6b212;
}

tr th {
  background: rgba(17, 17, 17, 0.7);
  overflow: hidden;
  color: rgb(165, 165, 165);
  padding: 1vh;
}

td a {
  pointer-events: auto;
  font-weight: bold;
  color: #d6b212;
  font-size: 1.2em;
  line-height: 1.2em;
  text-underline-position: under;
  text-decoration: none;
  transition: color 0.17s linear;
  text-transform: uppercase;
  padding: .5vh 0 1.1vh;
  display: block;
}

table td:hover a {
  color: #eccb5c;
}

h1.blogListTitle.title,
a.blogListTitle {
  font-size: 1.2em;
}
a.blogListTitle {
  color: #d6b212;
  
}

@media only screen and (max-width: 1020px) {
  th,
  td {
    font-size: 16px;
  }
}
