table {
  margin: 7% auto 0;
  transition:
    border-spacing 0.12s linear,
    margin 0.12s linear,
    font-size 0.12s linear;
  background: rgba(3, 67, 86, 0);
  border-spacing: 0px;
  backdrop-filter: blur(2px);
  border-radius: 5px;
  font-size: 28px;
  font-family: "Barlow", sans-serif;

  tr {
    transform-style: preserve-3d;
    perspective: 100px;
    transform: rotateY(55deg);
    animation: rotate55 2s linear infinite alternate;
    &:nth-child(odd) {
      td {
        &:first-child {
          transform: rotateX(36deg);
        }
      }
    }
    &:nth-child(even) {
      td {
        &:first-child {
          transform: rotateX(-36deg);
        }
      }
    }
  }

  &:hover {
    margin: 4% auto 0;
    border-spacing: 9px;
    td {
      background: rgb(35, 40, 61);
      background-position: center;
      background-size: auto;
      background-blend-mode: hard-light;
      box-shadow: 0px 3px 2px 0 black;
      color: #bed1d9;
      transition: clip-path 0.2s linear;
      &:nth-child(n + 2) {
        visibility: visible;
        display: block;
        width: auto;
        margin-left: 14px;
        font-size: .4em;
      }
      svg {
        opacity: 1;
      }
      a {
        color: #8ebcca;
        font-size: 36px;
        width: 200px;
        border: none;
        background: transparent;
        transform: translateX(0%);
      }
    }
  }

  td {
    font-size: 14px;
    border-radius: 3px;
    pointer-events: none;
    color: #849e9a;
    transition: all 0.13s linear;
    text-shadow: 0 0 3px #a5a5a5;
    background-position: center;
    background-size: auto;
    background-blend-mode: none;
    overflow: hidden;

    &:hover {
      background-blend-mode: color-dodge;
      a {
        color: rgb(180, 216, 255);
        background: transparent;
      }
    }
    &:nth-child(n + 2) {
      display: block;
      visibility: hidden;
      width: 0;
      font-size: .4em;
    }
    a {
      padding: 1vh 0;
      pointer-events: auto;
      font-weight: bold;
      color: #5a808c;
      line-height: 0.8em;
      text-underline-position: under;
      text-decoration: none;
      text-transform: uppercase;
      transition: all 0.13s linear;
      display: block;
      text-shadow: -1px 2px 3px #000000;
      display: inline-block;
      width: 160px;
      background: rgba(0, 0, 0, 0.5);
      font-size: 32px;
      font-family: "VT323", sans-serif;
      transform: translateX(-100%);
    }
    svg {
      transition: opacity 0.1s linear;
      opacity: 0.3;
    }
  }
}

@media only screen and (max-width: 768px) {
  table {
    margin: 14% auto 0;
    border-spacing: 9px;
    box-shadow: none;

    td {
      background: rgb(35, 54, 75);
      font-size: 14px;
      background-position: center;
      border-radius: 3px;
      background-blend-mode: hard-light;
      &:nth-child(n + 2) {
        display: block;
        width: auto;
        visibility: visible;
        margin-left: 14px;

        svg {
          opacity: 1;
        }
      }
      a {
        color: #8ebcca;
        font-size: 32px;
        width: 180px;
        transform: translateX(0%);
      }
    }
  }
}
@keyframes rotate55 {
  to {
    transform: rotateY(-55deg);
  }
}