.svg {
  height: 83%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}
.text {
  filter: drop-shadow(0px 0.5px 1px rgb(94, 22, 22)) blur(0.1px);;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
  /* font-family: "Gravitas One", "Arial", sans-serif; */
}
.cont {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
  background: none;
}
@media screen and (max-width: 767px) {
  .cont {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: none;
  }
}
