/* .fsm-container {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: url("logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  z-index: -1;
} */
.svg {
  height: 64%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}
.star {
  filter: drop-shadow(1.5px 1px .3px rgba(59, 12, 0, 0.6));
  animation:rotate 6s linear infinite;
  transform-origin: 50% 70%;
  transform: translateY(-20%) rotate(0deg);
  overflow: visible;
}
@keyframes rotate {
  to {
    transform: translateY(-20%) rotate(360deg);
  }
}
.text {
  
  filter: drop-shadow(1px .5px 1px rgba(255, 0, 0, .3)) blur(0.3px);
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */    
  font-family: "Gravitas One", "Arial", sans-serif;
}
.bgc {
  font-family: Geneva, Verdana, sans-serif;
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  z-index:0;
}
.scroller {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  /* font-family: Geneva, Verdana, sans-serif; */
  position: absolute;
  /* background: darkorange; */
  width: 100vw;
  height: 100px;
  bottom: 0;
  left:0;
  z-index:0;
}
.cont {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
  background: none;
}