.fsm-container {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: url("logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  z-index: -1;
}
