<link rel="stylesheet prefetch" href="/components/pages/home/style1.css" />
<link href="https://fonts.googleapis.com/css?family=Special+Elite&display=swap" rel="stylesheet"
/>
<div class="cont">
  <svg version="1.1" class="svg" viewBox="0 0 100 100">
    <defs>
      <radialGradient id="grad2" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
        <stop
          offset="0%"
          style="stop-color: rgb(199, 63, 0); stop-opacity: 1"
        />
        <stop
          offset="60%"
          style="stop-color: rgb(129, 61, 5); stop-opacity: 0.4"
        />
        <stop
          offset="100%"
          style="stop-color: rgb(46, 04, 0); stop-opacity: 0.01"
        />
      </radialGradient>
    </defs>
    <use
      font-family="'Gravitas One', 'Arial', sans-serif"
      text-anchor="middle"
      lengthAdjust="spacing"
      class="text"
      xlink:href="/components/pages/home/start.svg#text"
      fill="url(#grad2)"
      y="50 "
      x="50"
    />
  </svg>
  <canvas id="bgc" class="bgc"></canvas>
</div>
