<link rel="stylesheet prefetch" href="/components/pages/home/style.css" />
<div class="cont">
  <svg version="1.1" class="svg" viewBox="0 0 100 80">
    <defs>
      <radialGradient id="grad2" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
        <stop offset="0%" style="stop-color: rgb(199, 63, 0); stop-opacity: 1" />
        <stop offset="60%" style="stop-color: rgb(129, 61, 5); stop-opacity: 0.4" />
        <stop offset="100%" style="stop-color: rgb(46, 04, 0); stop-opacity: 0.01" />
        <animate attributeName="fy" dur="5s" keyTimes="0;0.25;0.5;0.75;1" values="60;60;40;40;60" repeatCount="indefinite" />
        <animate attributeName="fx" dur="11s" keyTimes="0;0.25;0.5;0.75;1" values="60;40;40;60;60" repeatCount="indefinite" />
        <animate attributeName="cy" dur="6.7s" keyTimes="0;0.25;0.5;0.75;1" values="60;60;40;40;60" repeatCount="indefinite" />
        <animate attributeName="cx" dur="8.1s" keyTimes="0;0.25;0.5;0.75;1" values="60;40;40;60;60" repeatCount="indefinite" />
        
      </radialGradient>
      <g id="text">
        <text dy="-20" font-size="3rem">NOW</text>
        <text font-size="1.8rem">other</text>
        <text dy="22" font-size="1.8rem">THING</text>
      </g>
    </defs>
    <use font-family="'VT323', 'Arial', sans-serif" text-anchor="middle" lengthAdjust="spacing" class="text" xlink:href="#text" fill="url(#grad2)" y="50 " x="50" />
  </svg>
  <!-- <canvas id="bgc" class="bgc"></canvas> -->
</div>