button.btn-delete {
  background: none;
  border: none;
  font-size: 1.4rem;
  padding: 0;
}

form.deleteBtn-form {
  background: red;
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: 1.4rem;
  border-radius: 3px;
}

a.editBtn {
  width: 1.4rem;
  background: rgb(40, 207, 40);
  font-size: 1.4rem;
  padding: 0 5px;
  border-radius: 3px;
  color: #00112c;
}
div#edit {
  position: absolute;
  display: flex;
  margin-top: -1.9rem;
  margin-left: 3px;
  z-index: 2;
  background: white;
  padding: 2px;
}

form.addForm {
  color: #ddd;
  text-align: center;
  width: 100vw;
  max-width: 500px;
  margin: 0 auto;
  padding: 1vh 2vh;
  background: rgba(102, 102, 102, 0.5);
  border-radius: 3px;
}

form.addForm button {
  width: 100%;
  padding: 0.5vh;
  margin-bottom: 0.5;
  box-sizing: border-box;
  font-size: 0.8rem;
  border: 1px solid #666;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  border-radius: 3px;
}