section.blogCard {
  width: 12vw;
  height: 12vw;
  display: inline-block;
  background-size: auto 150%;
  background-position: bottom;
  background-repeat: no-repeat;
  transition: background-size 0.1s linear;
  margin: 1vh 2px;
  box-shadow: 2px 2px 3px black;
  border-radius: 0.1em;
  cursor: pointer;
}

section.blogCard:hover {
  background-size: auto 167%;
}

form.addForm {
  color: #ddd;
  text-align: center;
  width: 100vw;
  max-width: 500px;
  margin: 0 auto;
  padding: 1vh 2vh;
  background: rgba(102, 102, 102, 0.5);
  border-radius: 3px;
}
form.addForm button {
  width: 100%;
  padding: 0.5vh;
  margin-bottom: 0.5;
  box-sizing: border-box;
  font-size: 0.8rem;
  border: 1px solid #666;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  border-radius: 3px;
}
@media screen and (max-width: 767px) {
  .pager {
    display: flex;
    width:100%;
    justify-content: space-evenly;
    padding: 0 10vh;
    margin-bottom: 3vh;
  }

  section.blogCard {
    display: block;
    width: 28vw;
    height: 28vw;
    margin: 1vh 0;
  }

}
