section.blogCard {
  width: 12vh;
  height: 12vh;
  display: inline-block;
  background-color: #66666680;
  background-size: auto 150%;
  background-position: bottom;
  background-repeat: no-repeat;
  transition: background-size 0.1s linear;
  margin: 3px 2px 1px;
  box-shadow: 2px 2px 3px black;
  border-radius: 0.1em;
  cursor: pointer;
}

section.blogCard:hover {
  background-size: auto 167%;
}
@media screen and (max-width: 767px) {

  section.blogCard {
    display: block;
    width: 30vw;
    height: 30vw;
  }

}
