<link rel="stylesheet" href="/components/photo/style.css">
<section id="card" style="background-image: url('https://drive.google.com/thumbnail?id=${e.picId} ')" class="blogCard">
  <li class="blogPost">
    <wc-router>
      <a class="blogPostTitle" route="photos/${e.id}">${e.title}</a>
      <wc-route path="/photos/:id" title="Photo Details" component="wc-photo"></wc-route>
    </wc-router>
    <p class="blogPostText">${e.createdAt}</p>
  </li>
  ${getEditBtns(window.location.href, e.id)}
</section>