.pager {
  display: flex;
  width:100%;
  justify-content: space-evenly;
  padding: 0 10vh;
}
.pager p {
  width:20%;
  background:#aaa;
  border:1px solid #333;
}
.pager button {
  width: 20%;
}
.blogCards {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1440px;
  margin: 0 auto 1%;
  list-style: none;
  position: relative;
  padding: 0 0 0.5rem 0;
  /* background: #7a5b357c; */
  border-radius: 3px;
  background-image: linear-gradient(to left, #fff0, #53360080 50%, #fff0);
  box-shadow: 0px 0px 3px 0px #cc0b0b;
}
section.blogCard {
  width: 11vw;
  min-width: 256px;
  height: 11vw;
  min-height: 256px;
  display: inline-block;
  background-size: auto 150%;
  background-position: bottom;
  background-repeat: no-repeat;
  transition: background-size 0.1s linear;
  margin: 3vh 10vh 2vh 10vh;
  box-shadow: 2px 2px 3px black;
  border-radius: 0.1em;
}
section.blogCard:hover {
  background-size: auto 160%;
}

li.blogPost {
  opacity: 0;
  display: flex;
  height: auto;
  flex-direction: column;
  color: bisque;
  justify-content: center;
  width: 11vw;
  min-width: 256px;
  height: 11vw;
  min-height: 256px;
  background: #6666663b;
}
.blogPost:hover {
  transition: opacity 0.2s linear;
  opacity: 1;
}
.blogPostText {
  font-size: 0.8em;
  padding: 0 1vw;
  text-shadow: 1px 1px 1px black;
  background: #00000080;
  color: #fff;
}
a.blogPostTitle {
  font-size: 1.4em;
  width: 100%;
  background: #fff;
  color: black;
  padding-bottom: 5px;
  transition: color 0.2s linear;
  line-height: 1.4rem;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px maroon;
  margin-top: 0.7em;
}

@media screen and (max-width: 767px) {
  section.blogCard {
    display: block;
  }
  li.blogPost {
    opacity: 1;
    background: none;
  }
  a.blogPostTitle {
    background: #fff;
    color: black;
  }
}
/* section.blogCard:hover {
  background-size: 110%;
} */
