<style>
#nav {
  margin: 0 auto;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
}

#nav button {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0.8vh 1vh;
  border: 1px solid black;
  background: #aaa;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
}

#nav button:disabled {
  background: #ddd;
  cursor: default;
}
</style>
<nav id="nav"></nav>
<ul id="ul"></ul>