.pager {
  display: flex;
  width:100%;
  justify-content: space-evenly;
  padding: 0 10vh;
  margin-top: 1.67vh;
}
.pager p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 6vh;
  background:#aaa;
  /* border:1px solid #333; */
  border-radius: 3px;
  line-height: 2em;
  font-weight: bold;
  font-size: 1em;
  text-shadow: 0 0 1px #666;
}
.pager button {
  width: 12vh;
  padding-bottom: 0.2rem;
  line-height: 2em;
  border: none;
}
#gal {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  backdrop-filter: blur(5px);
}

.show {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  overflow: auto;
  z-index: 3;
  overflow-x: hidden;
  backdrop-filter: blur(7px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.show .modalClose {
  position: absolute;
  z-index: 2;
  padding: 0.5% 1%;
  color: red;
  border-radius: 8px;
  font-size: 1.5em;
  background: #68322385;
  backdrop-filter: blur(7px);
  top: 1%;
  right: 1%;
}