<link rel="stylesheet" href="/components/pages/photos/style.css">
  <span id="gal"></span>
  <div class="pager">
    <button id="dec"><--</button>
    <p id="page"></p>
    <button id="inc">--></button>
  </div>
  <div id="show" class="show">
    <span class="counter"></span>
    <button id="modalClose" class="modalClose" type="button" onclick="javascript:document.querySelector('.show').style = 'display:none'">X</button>
    <div class="switch">
      <button id='prev' class="swiper"><-</button>
      <button id='next' class="swiper">-></button>
    </div>
  </div>