<link rel="stylesheet" href="/components/repos/style.css">
<link rel="stylesheet" href="/css/style.css">
<my-repos>
</my-repos>
  <h1>
    <modal-card id="info" label-text="About Me"></modal-card>
    <modal-card id="music" label-text="Music Tracks"></modal-card>
    <modal-card id="video" label-text="Music Videos"></modal-card>
    <modal-card id="blog" label-text="Blog"></modal-card>
  </h1>