* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-size: 1.1rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-shadow: 1px 1px 0px black;
}

@font-face {
  font-family: Barlow;
  src: url(../assets/fonts/Barlow/Barlow-Regular.ttf);
}
@font-face {
  font-family: Dokdo;
  src: url(../assets/fonts/Dokdo/Dokdo-Regular.ttf);
}
@font-face {
  font-family: VT323;
  src: url(../assets/fonts/VT323/VT323-Regular.ttf);
}

html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  background-image:  radial-gradient(circle, #00000000 33%, #000000ff 100%),linear-gradient(to right, rgb(43, 44, 48), rgb(30, 34, 46));
}

.wrapper {
  width: 100%;
  min-height: 100vh;
}

footer {
  height: 1.3em;
  position: fixed;
  bottom: 0;
  display: block;
  left: 0;
  background: black;
  width: 100%;
  color: #ffa70480;
  z-index: 1;
  box-shadow: 0 0px 26px -1px #000;
  text-shadow: 2px 2px 8px #dda63fbe;
}

button {
  background-color: #333;
  border: 1px solid #666;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 0;
  border-radius: 3px;
}

@media only screen and (max-width: 1020px) {
  * {
    font-size:  0.9rem;
  }
}
