* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-size: 29px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-shadow: 1px 1px 0px black;
}

@font-face {
  font-family: Barlow;
  src: url(../assets/fonts/Barlow/Barlow-Regular.ttf);
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  background: rgb(42, 42, 43) url("../assets/bcg.jpg") center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  overflow-y: auto;
}

footer {
  height: 1.3em;
  position: fixed;
  bottom: 0;
  display: block;
  left: 0;
  background: black;
  width: 100%;
  font-size: 0.5em;
  color: #ffa70480;
  z-index: 1;
}

button {
  background-color: #333;
  border: 1px solid #666;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 0;
  border-radius: 3px;
}

@media only screen and (max-width: 1020px) {
  * {
    font-size: 25px;
  }
}
