<link rel="stylesheet" href="/components/soundcloud/style.css">
<div class="container">
  <iframe id="sc-widget" scrolling="no" frameborder="no" allow="autoplay"
  src="https://w.soundcloud.com/player/?url=https%3A//soundcloud.com/loleus/"></iframe>
</div>

<script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
<script>
    console.log("jeb")
  const widgetIframe = this.shadowRoot.getElementById('sc-widget');
  const widget = SC.Widget(widgetIframe);
  widget.bind(SC.Widget.Events.READY, function () {
    widget.bind(SC.Widget.Events.PLAY, function () {
      widget.getCurrentSound(function (currentSound) {
        console.log('sound ' + currentSound.get('') + 'began to play');
      });
    });
    widget.getVolume(function (volume) {
      console.log('current volume value is ' + volume);
    });
    widget.setVolume(50);
  });
</script>
