<h1>Edytujesz {{client.name}}</h1>
<form class="form" method='POST' action='/client/{{client.id}}?_method=PUT'>
    <label>
        <p>e-mail:</p>
        <input type='email' name='mail' value='{{client.mail}}'>
    </label>
    <label>
        <p>Imię:</p>
        <input type='text' name='name' value='{{client.name}}'>
    </label>
    <label>
        <p>Data wizyty:</p>
        <input type='date' name='nextContactAt' value='{{client.nextContactAt}}'>
    </label>
    <label>
        <p>Uwagi:<p>
        <textarea name='notes'>{{client.notes}}</textarea>
    </label>
    <label>
        <p>Liga:</p>
        <select name='category'>
            <option value="" selected disabled>{{client.category}}</option>
            <option value="BIZNES">BIZNES</option>
            <option value="WOJSKO">WOJSKO</option>
            <option value="POLITYKA">POLITYKA</option>
        </select>
    </label>
    <button disabled="true" type='submit'>Zapisz</button>
</form>