<style>
  h1 {
pointer-events: none;
margin: 1vh 0;
padding: 1em 0;
color: #ffa70480;
line-height: 1em;
font-size: 0.8em;
text-shadow: 1px 1px 2px #272727;
background-image: linear-gradient(to left, #fff0, #53360080 50%, #fff0);
box-shadow: 0px 0px 3px 0px #cc0b0b;
transition: color 0.24s linear;
}
  #sc-widget {
    width: 80%;
    height: calc(98vh - 79px - 2.5em);
  }

  @media only screen and (max-width: 1020px) {
    #sc-widget {
      width: 100vw;
      height: calc(100vh - 65px);
    }

  }
</style>
<h1>Some sounds</h1>
<div class="container">
  <iframe id="sc-widget" scrolling="no" frameborder="no" allow="autoplay"
  src="https://w.soundcloud.com/player/?url=https%3A//soundcloud.com/loleus/"></iframe>
</div>

<script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
<script>
    console.log("jeb")
  const widgetIframe = this.shadowRoot.getElementById('sc-widget');
  const widget = SC.Widget(widgetIframe);
  widget.bind(SC.Widget.Events.READY, function () {
    widget.bind(SC.Widget.Events.PLAY, function () {
      widget.getCurrentSound(function (currentSound) {
        console.log('sound ' + currentSound.get('') + 'began to play');
      });
    });
    widget.getVolume(function (volume) {
      console.log('current volume value is ' + volume);
    });
    widget.setVolume(50);
  });
</script>
