<div class="navbar-area">
    <div class="container">
      <nav class="site-navbar nav">
        <a route="/" class="site-logo">lolo_2023</a>
        <ul>
          <li><a route="/repos">Repos</a></li>
          <li><a route="/about">About</a></li>
          <li><a route="/music">Music</a></li>
          <li><a route="/video">Video</a></li>
          <li><a route="/photos">Photo</a></li>
          <li><a route="/contact">Contact</a></li>
        </ul>
        <button class="nav-toggler">
          <div></div>
        </button>
      </nav>
    </div>
  </div>
  <wc-route path="/" title="Home" component="wc-home"></wc-route>
  <wc-route path="/repos" title="Repos" component="wc-repos"></wc-route>
  <wc-route path="/about" title="About Me" component="wc-about"></wc-route>
  <wc-route path="/music" title="Music" component="wc-music"></wc-route>
  <wc-route path="/video" title="Video" component="wc-video"></wc-route>
  <wc-route path="/contact" title="Contact" component="wc-contact"></wc-route>
  <wc-route path="/login" title="Login" component="wc-login"></wc-route>
  <wc-route path="/photos" title="Photos" component="wc-photos"></wc-route>
  <wc-route path="*" title="404" component="wc-notfound"></wc-route>
  <wc-outlet class="wc-outlet"></wc-outlet>
  <footer>No time Toulouse</footer>
  <link rel="stylesheet" href="/components/menu/style.css">