<div class="navbar-area">
  <div class="container">
    <nav class="site-navbar nav">
      <a route="/" class="site-logo">lolo_2023</a>
      <ul>
        <li><a route="/">Home</a></li>
        <li><a route="/about">About</a></li>
        <li><a route="/music">Music</a></li>
        <li><a route="/video">Video</a></li>
        <li><a route="/users">Blog</a></li>
        <li><a route="/contact">Contact</a></li>
        <li><a route="/login">Login</a></li>
      </ul>
      <button class="nav-toggler">
        <div></div>
      </button>
    </nav>
  </div>
</div>